/* Common Css Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; margin: 0;
    padding: 0;
    
    
}
    
    
 
 body{
    font-family: 'Open Sans', sans-serif;
 }
 a{
    text-decoration: none;
 }
 ul{
    list-style-type: none;
 }
 .container{
    width: 1170px;
    margin: auto;
    
 }
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 .section_info{
    text-align: center;
    color: #7e8287;
 }
 .section_info h2{
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
 }
 .section_info p b{
    font-size: 23px;
 }
 /* //Common Css End */
 

 /* Nav Section Css Start */
 nav{
 background-color:#202020;
 
 top: 0;
 left:0;
 z-index: 999;
 
 ;
 }
 #nav.active{
position: fixed;

width: 100%;
animation: menu_fixed .4s; 

 } 

 

 @keyframes menu_fixed {
   from{top:-100px

   }
   to{top:0;

   }
   
 }
 .brands{
   display: flex;
 }
 .brands img{
   width: 10%;
 }

 
 nav .row{
    align-items: center;
 }
 #nav{

 }
 nav .logo{
 width: 20%;  
 height: 20%; 
 }
 nav .logo img{
   width: 200px;
 }
nav .menu{
    width:80%
}
nav .menu ul{
    display: flex;
    justify-content: flex-end;
 }
 nav .menu ul li{
    position: relative;
 }
 nav .menu ul li a {
  display: inline-block;
  font-size: 25px; 
  color:#ffd101;
  font-weight: 800;
  text-transform: uppercase;
  padding: 20px 25px;
  transition: .5s;  
 }
 .about_item{
   color:white;
 }
 .socal_info {
   color: white
 }
 .socal_info  :hover{
   color: white;
   
 }
 
 
 #opo a {
   background-color:;
   padding-right: 200px;
   color: white;
 }
 #opo a:hover{
   background-color:#ffd101;
   color:#202020;
   
 }
nav .menu ul li ul{
position: absolute;
z-index: 99999;
}
/* //Nav Section Css End */

/* Banner Section Css Start */

 

#banner .row{
    height: 100%;
    justify-content: center;
    align-items: center;
 }
 .dow{
   height: 100%;
   position: 20px;
   right: 0;
 }
   
 button{
   width: 200px;
   padding: 15px 0;
   text-align: center;
   margin: 0 10px;
   border-radius: 25px;
align-items: center;


} 
.banner_items img{
   background-size: cover;
   width: 20%;
}
#banner_slider::before{
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0.66;
   background-color: black;
   z-index:-1 ;
}
.banner_items{
   background-size: cover !important;
   height: 850px;
   background-position: center !;
   position: relative;
   z-index: 999;
   
 }
.banner-items::after{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(11 80 74 / 60%);
   z-index: -1;


}
.content{
   width: 60%;
   margin: 460px auto;
}


   
/* //Banner Section Css End */


/* //Preloader Css Start */
.center{
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   position: fixed;
   z-index: 99999;
   justify-content:center;
   width: 100%;
   background-color:#0a0a0b 
}
.ring{
position: absolute;
width: 500px; 
height: 500px;
border-radius: 50%;
animation: ring 2s linear infinite;
}
@keyframes ring{
0%{
   transform: rotate(0deg);
   box-shadow: 1px 5px 2px #e65c00;
}

50%{
   transform: rotate(180deg);
   box-shadow: 1px 5px 2px #18b201;
}
100%{
   transform: rotate(360deg);
   box-shadow: 1px 5px 2px #0456c8;
}
}

.ring:before{
position: absolute;
content: '';
left: 0;
top: 0;
height: 100%;
width: 100%;
border-radius: 50%;
box-shadow: 0 0 5px rgba(255,255,255,.3);
}
span{
   color: white;
   font-size: 40px;
   text-transform: uppercase;
   letter-spacing: 1px;
   line-height: 200px;
   animation: text 3s ease-in-out linear infinite;
}
@keyframes text {
   50%{
       color: black;
   }
}



/* //Preloader Css End */

/* About Section Css Start */
#about{
   display: inline-block;
}

 /* //About Section Css End */

  /* //service Section Css Start */
#service{
   background-image: url(../img/devine-speech.4bcd549.jpg);
   background-size: cover;
   background-position: center;
   padding: 100px 0;
   height: 1080px;
}
.about_item{
   text-align: center;
   justify-content: center;
   padding-top: 20px;
   background-color: #ffd101;

}

.about_item button:hover{
   background-color: rgb(164, 8, 8);
}
.about_item h1{
   color: #000000;
   padding-top: 30px;
   padding-bottom: 20px;
}


#service .inner_container{
   width: 50%;
}
#service .section_info{
   text-align: left;
}
#service .service_item{
   width: 50%;
   padding: 25px 100px 20px 0;
}
#service .service_item i{
   color: white;
   font-size: 25px;
   
}
#service .service_item h4{
   font-size: 16px;
   font-weight: 800;
   color: #7e8287;
   padding: 60px 0;
   
}
#service .service_item p{
   color: #7e8287;
   font-size: 11px;
   font-weight: 400;

}
#service .service_info{
   
}

  /* //service Section Css End */

  /* //My Work Section Css Start */
  #my_work {
   padding: 98px 0;
   background-color: #000000;
   
   background-size: cover;
   height: 1000px;
}
#my_work.section_info p{
   width: 875px;
  margin: auto;
  padding: 25px;
}
#my_work .section_info{
   margin-bottom: 80px;
}
#my_work .work_item{
   width: 25%;
   position: relative;
}
#my_work .work_item img{
   width: 100%;
   display: inline-block
}
#my_work .work_item .overly{
   position: absolute;
   left: 28px;
   right: 28px;
   top: 20px;
   bottom: 20px;
   background-color: rgba(15, 133, 129,0.85);
   display: flex;
   text-align: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transition: .5s;
}
.apps_items{
   display: flex;
}
.nak img{
   
   padding: 200px 300px ;
}
.apps img{
   padding: 200px 300px 400px;
}


#my_work .work_item:hover .overly{
   opacity: 1;
   visibility:visible;
}
/* //Contact Section Css Start */
#contat .section_info{
   padding: 100px ;
   
}
#contat{
   background-color: #000000;
}
#contat .contact_form{
   background-color: #0a0a0b;
   padding: 70px 0;
}
#contat .contact_form input,
textarea{
   display: block;
   margin: auto;
   color: #7e8287;
   background: none;
   border: none;
   border-bottom: 1px solid #7e8287;
   padding: 15px 20px;
   margin-bottom: 50px;
   text-align: center;
   font-size: 16px;
   

}
#contat .contact_form .input_small{

   width: 640px;
}
#contat .contact_form .input_large{
width: 916px;
}
#contat .contact_form textarea{
   resize: none ;
   font-family: 'Open Sans', sans-serif;
}
.contact_form button{ 
  font: size 12px; 
  color: #0b1016;
  font-weight: 800;
  text-transform: uppercase;
  padding: 20px 65px;
  transition: .5s;  
  background-color: rgb(95, 27, 27);
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
}
footer{
   background-color: #000000;
   text-align: center;
   color: #7e8287;
   font-size: 12px;
   text-transform: uppercase;
   padding: 15px;
}
#blog_filter_control li{
   background-color: #0456c8;
}

